# ------------------------------
# Virtual environments
# ------------------------------
venv/
.venv/
env/
ENV/

# ------------------------------
# Output
# ------------------------------
output/
ngram_corpora/
my_corpora

# ------------------------------
# Secrets
# ------------------------------
github-token.txt
.env